body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212121;
  color:#F9F9F9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Underline{
  border-bottom: 2px solid #FCCC24;
  padding-bottom: 4px;
}

.yellow{
  color:#FCCC24;
}

.konten{
  margin-top:20px;
  width:88%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 24px;
  justify-content: flex-end;
}

.buttonmini{
  background-color: #FCCC24;
  border: none;
  font-weight:bold;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  display: block;
  border-radius: 5px;
}

.marginL2{
  margin-left: 16px;
}

.marginL{
  margin-left: auto;
}

.WebTitle{
  text-align: center;
  font-size: 64px;
  font-weight: bolder;
  margin-top: 5vh;
  margin-bottom: 3vh;
}

.back{
  position: fixed;
  margin-top: 36px;
  margin-left: calc(30px + 1vw);
  cursor:pointer;
  z-index: 100;
}

.flex{
  display: flex;
}

.Bar{
  margin-left:8px;
  margin-right:8px;
  cursor: pointer;
  font-size: 24px;
}

.center{
  margin-left:auto;
  margin-right:auto;
  justify-content:center;
}

@media screen and (max-width: 1000px) {
  .buttonmini{
    padding: 5px 15px 5px 15px;
  }

  .Bar{
    font-size: 18px;
  }
}